---
import Button from "@components/Buttons/ServiceButton.astro";
import { Image } from "astro:assets";

import dvs from "public/dvs.svg";
import hodov from "public/hodov.svg";
import tires from "public/tires.svg";
import monitor from "public/monitor.svg";
import podveska from "public/podveska.svg";
import motul from "public/motul.svg";
---

<section id="services">
  <h2 class="h2-title" id="title">услуги автосервиса</h2>
  <div class="services__container">
    <div class="services__list">
      <article class="services__card">
        <Image src={hodov} alt="Фото ходовой системы машины" />
        <div class="card__content">
          <div class="card-title h5-title">Ремонт ходовой</div>
          <div class="card-description description-text">от 1500</div>
          <Button content="Подробнее" style={"services-btn"} />
        </div>
      </article>

      <article class="services__card">
        <Image
          src={tires}
          decoding="async"
          loading="lazy"
          alt="Изображения колес для услуги шиномонтаж"
        />
        <div class="card__content">
          <div class="card-title h5-title">Шиномонтаж</div>
          <div class="card-description description-text">от 5000</div>
          <Button content="Подробнее" style={"services-btn"} />
        </div>
      </article>

      <article class="services__card">
        <Image
          src={monitor}
          alt="Фото аппарата диагностики машины для услуги диагностика"
        />
        <div class="card__content">
          <div class="card-title h5-title">Диагностика</div>
          <div class="card-description description-text">от 1990</div>
          <Button content="Подробнее" style={"services-btn"} />
        </div>
      </article>
    </div>

    <div class="services__list">
      <article class="services__card">
        <Image src={dvs} alt="Фото двигателя для услуг по ремонту ДВС" />
        <div class="card__content">
          <div class="card-title h5-title">Ремонт ДВС</div>
          <div class="card-description description-text">от 10000</div>
          <Button content="Подробнее" style={"services-btn"} />
        </div>
      </article>

      <article class="services__card">
        <Image
          src={podveska}
          alt="Фотография подвески автомобиля для услуги по ремонту подвески"
        />
        <div class="card__content">
          <div class="card-title h5-title">Ремонт подвески</div>
          <div class="card-description description-text">от 1950</div>
          <Button content="Подробнее" style={"services-btn"} />
        </div>
      </article>

      <article class="services__card">
        <Image
          src={motul}
          alt="Фотография канистры с маслом для услуги по техническому обслуживанию автомабиля"
        />
        <div class="card__content">
          <div class="card-title h5-title">ТО Автомобиля</div>
          <div class="card-description description-text">от 1000</div>
          <Button content="Подробнее" style={"services-btn"} />
        </div>
      </article>
    </div>
  </div>
</section>

<style lang="scss" is:global>
  #services {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  #title {
    margin-top: 170px;
  }

  .services__container {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .services__list {
      display: flex;
      gap: 30px;
    }

    .services__card {
      width: 320px;
      height: 160px;

      display: flex;
      gap: 17px;
      align-items: center;

      background-color: #222222;
      border-radius: 5px;

      &:hover {
        box-shadow: 0 0 40px 0 rgba(208, 42, 53, 0.6);
        transition:
          box-shadow 0.9s ease,
          transform 0.55s ease;
        animation: fillBackground 0.8s forwards;
        transform: scale(1.05);

        .services-btn {
          background-color: #222222;
          transition: background-color 0.6s ease;
        }
      }

      .card__content {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .services-btn {
          border-radius: 3px;
        }
      }
    }
  }

  @keyframes fillBackground {
    from {
      background-color: #222222;
    }
    to {
      background-color: #d02a35;
    }
  }
</style>
